version: "3.5"
services:
    backend:
        container_name: backend
        network_mode: host
        build:
            context: .
        depends_on:
            - elasticsearch
            - redis
        volumes:
            - ../backend:/server
        command: gunicorn -w 4 -b 0.0.0.0:3001 app:app
