version: "3.5"
services:
    redis:
        container_name: redis
        network_mode: host
        build:
            context: ../../modules/CuckooFilter
        volumes:
            - ../redis:/redis
        command: redis-server /usr/local/etc/redis/redis.conf
